{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin - Datacity</title>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <script src="{% static 'js/unified.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/Logo.png' %}" alt="Logo">
        </div>
    </header>
    <div class="menu-container">
        <h1 class="menu-title">Bem vindo ao Datacity, navegue pelas opções abaixo</h1>
        <div class="menu-buttons" id="menuButtons">
            <a href="{% url 'plataformas' %}" class="menu-btn">Plataformas</a>
            <a href="{% url 'normas' %}" class="menu-btn">Normas</a>
        </div>
    </div>
</body>
</html>